@charset "UTF-8";

* { 
    margin: 0px;
    padding: 0px;
}

body, html {
    height: 100%;
}

.header {
    position: fixed;
    height: 8%;
    width: 100%;
    background-color: #ffffff;
    display: flex;
	align-items: center;
}

.pagename {
    margin-left: 20px;
}

.links {
    margin: 0 20px 0 auto;
}

.header_links {
    padding: 20px 20px;
    display: inline-block;
    text-decoration: none;
    color: black;
    border: solid 2px black;
    border-radius: 3px;
    transition: .4s;
}

.header_links:hover {
    background: black;
    color: white;
}

/*背景*/
.background {
    min-height: 1000px;
    background-attachment: fixed;
    background-size:100%;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home {
    font-size: 20px;
    color: #ffffff
}

/*背景設定*/
.bg-1 {
    background-image: url("img/background001.png");
}

.bg-2 {
    background-image: url("img/background002.png");
}

.bg-3 {
    background-image: url("img/background003.jpg");
}

.scroll {
    font-size: 30px;
    min-height: 100%;
    width: 100%;
    background-color: #DCC398;
    display: flex;
    align-items: center;
    justify-content: center;
}
