@charset "UTF-8";

/*余白発生回避*/
* { 
    margin: 0px;
    padding: 0px;
}

body, html {
    height: 100%;
}

/*ヘッダー*/
.header {
    position: fixed;
    height: 90px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
	align-items: center;
}

.pagename {
    margin-left: 20px;
}

.links {
    margin: 0 20px 0 auto;
}

/*ボタン*/
.header_links {
    padding: 20px 20px;
    display: inline-block;
    text-decoration: none;
    color: black;
    border: solid 2px black;
    border-radius: 3px;
    transition: .4s;
}

.header_links:hover {
    background: black;
    color: white;
}

/*背景*/
.background {
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    
}

/*見出し的な*/
.main-textbox {
    min-height: 950px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-text {
    font-size: 20px;
    color: #ffffff
}

/*フッター*/
.footer {
    text-align: center;
    font-size: 20px;
    color: #ffffff
}


/*背景画像設定*/
.bg-1 {
    background-image: url("img/bw_background001.png");
}

.bg-2 {
    background-image: url("img/bw_background002.png");
}

.bg-3 {
    background-image: url("img/bw_background003.jpg");
}


.scroll {
    font-size: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s-1 {
    background-color: #FFFFAA;
}

.s-2 {
    background-color: #BBFAFF;
}

.container {
    text-align: center;
}

/*twitter-TL*/
.twitter-timeline {
    text-align: right;
}

.list {
    padding-left: 100px;
    text-align: left;
}

.notfoundbox{
    padding: 20px;
    text-align: center;
}