@charset "UTF-8";

/*余白発生回避*/
* { 
    margin: 0px;
    padding: 0px;
}

body, html {
    height: 100%;
    width: 100%;
}

/*ヘッダー*/
.header {
    position: fixed;
    height: 90px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
	align-items: center;
}

.not {
    position: static
}

.pagename {
    margin-left: 20px;
    font-size: 20px;
}

.links {
    margin: 0 20px 0 auto;
}

/*ボタン*/
.header_links {
    width: 80px;
    padding: 20px 20px;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: black;
    border: solid 2px black;
    border-radius: 3px;
    transition: .4s;
    text-align: center;
}

.header_links:hover {
    background: black;
    color: white;
}

/*スクロールするとこ*/
.scroll {
    font-size: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin: 30px;
    text-align: center;
    width: 100%;
}

.contents {
    margin:250px 0px; 
    width: 100%;
}
